

body {
    background: url("../images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header {
    background-color:rgb(20, 0, 2);
}

.card {
    background-color: rgb(20, 0, 2);
    color: cornsilk;
    align-items: center; 
    padding: 20px;
    margin: 20px;
    margin-top: 10%;
    border-color: blanchedalmond; 
}

#page-title {
    text-align:center; 
    color: black;
    -webkit-text-fill-color: cornsilk; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  goldenrod;
}

#feedback-paragraph{
    color:darkgray;
}

.hover-overlay {
    cursor: pointer;
}

#high-scores-box {
    margin-top: 10%;
    background-color: cornsilk;
    color:rgb(20, 0, 2);
    text-align: center;
}

@media screen and (max-width: 200px){
    body {
        display:none;
    }
}